<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Starbucks</title>
	<link rel="stylesheet" type="text/css" href="Stylesheet.css">
</head>
<body>
	<section>
		<header>
			<a href="#"><img src="logo.png" class="logo"></a>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Menu</a></li>
				<li><a href="#">What's New</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</header>
		<div class="content">
			<div class="textbox">
				<h2>This is not just Coffee<br>It's <span>Starbucks</span></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
				</p>
				<a href="#">Learn More</a>
			</div>

		</div>
		<div class="imagbox">
			<img src="img1.png" class="starbucks">
		</div>
		<ul class="thumb">
			<li><img src="thumb1.png"></li>
			<li><img src="thumb2.png"></li>
			<li><img src="thumb3.png"></li>
		</ul>


	</section>

</body>
</html>